<% layout('layouts/boilerplate') %> 
<h1>Home Page</h1>

Tentative todo list:
<ul>
    <li>Add functionality to rate a translation using AI</li>
    <li>Add a user profile page, which contains all scripts and translations made by that user</li>
    <li>Add more scripts and translations to populate the DB with</li>
    <li>Improve home page</li>
    <li>Add functionality to browse/search scripts using filters</li>
    <li>Improve website's security</li>
    <li>Improve website's appearance</li>
    <li>Add README</li>
</ul>
