<% layout('layouts/boilerplate') %> 
<h1>Home Page</h1>

Tentative todo list:
<ul>
    <li>Create a database to store users</li>
    <li>Create a database to store scripts</li>
    <li>Create a database to store translations</li>
    <li>Create an initial list of scripts and translations to populate the DB with</li>
    <li>Add register/login/logout functionality</li>
    <li>Add functionality to create a new script</li>
    <li>Add functionality to browse existing scripts</li>
    <li>Add functionality to view a script</li>
    <li>Add functionality to create a new a translation for a script</li>
    <li>Add functionality to view a translation</li>
    <li>Add functionality to rate and comment on a script</li>
    <li>Add functionality to rate and comment on a translation</li>
    <li>Add functionality to rate a translation using AI</li>
    <li>Add a user profile page, which contains all scripts and translations made by that user</li>
    <li>Improve home page</li>
    <li>Improve website's security</li>
    <li>Improve website's appearance</li>
    <li>Add README</li>
</ul>
