.line {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.script-title {
    font-size: large;
}

.script-info {
    font-size: small;
    margin-right: 1em;
}

.comment-title {
    font-weight: bold;
}

.mark-buttons {
    float: right;
}

.mark-btn {
    font-size: 50%;
}

.mark-good {
    background-color: rgba(0, 240, 0, 0.35);
}

.mark-bad {
    background-color: rgba(240, 0, 0, 0.25);
}

.mark-none {
    background-color: none;
}

.feedback-comment {
    margin-bottom: 0.5rem;
}
