<% layout('./layouts/boilerplate') %> 
<h1>All Scripts</h1>
<p>This is where the user can browse existing scripts.</p>
<p>It should also be possible to browse scripts using filters such as language, length, difficulty, and so on.</p>