<% layout('./layouts/boilerplate') %> 

<div class="row py-2">
    <div class="col-md-6">
        <h2>Original Script:</h2>
        <div>
            <% for (let line of script.body.split("\n")) { %>
                <p><%= line %></p>
            <% } %>  
        </div>
    </div>
    <div class="col-md-6">
        <h2>Your Translation:</h2>
        <form action="/scripts/<%= script._id %>/translate" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <textarea class="form-control" rows="8" id="body" name="translation[body]" required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <div class="btn-group" data-toggle="buttons">
                    <label class="form-label">
                        <input type="radio" id="language-en" name="translation[language]" value="en"> English
                    </label>
                    <label class="form-label mx-3">
                        <input type="radio" id="language-ja" name="translation[language]" value="ja"> Japanese
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>