<% layout('./layouts/boilerplate') %> 
<h1><%= translation.author.username %>'s Translation of <%= translation.script.title %></h1>
<div class="row py-2">
    <div class="col-md-6">
        <h2>Original Script:</h2>
        <div>
            <% for (let line of translation.script.body.split("\n")) { %>
                <p><%= line %></p>
            <% } %>  
        </div>
    </div>
    <div class="col-md-6">
        <h2>Translation:</h2>
        <div>
            <% for (let line of translation.body.split("\n")) { %>
                <p><%= line %></p>
            <% } %>  
        </div>
    </div>
</div>
